/*Reset*/
html, body, main, div, span, table, tr, td, h1, h2, h3, select, option, fieldset, ul, li{ 
	margin: 0;
	padding: 0;
}
/*default font size*/
html{
	font-size: 65.5%
}

/* Font-face custom fonts definition*/
@font-face {
    font-family: 'cirth_ereborregular';
    src: url('../fonts/cirtherebor-webfont.woff2') format('woff2'),
         url('../fonts/cirtherebor-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cirth_erebor-1regular';
    src: url('../fonts/cirtherebor1-webfont.woff2') format('woff2'),
         url('../fonts/cirtherebor1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cirth_erebor-2regular';
    src: url('../fonts/cirtherebor2-webfont.woff2') format('woff2'),
         url('../fonts/cirtherebor2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cirth_erebor_capsregular';
    src: url('../fonts/cirthereborcaps-webfont.woff2') format('woff2'),
         url('../fonts/cirthereborcaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cirth_erebor_caps-1regular';
    src: url('../fonts/cirthereborcaps1-webfont.woff2') format('woff2'),
         url('../fonts/cirthereborcaps1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cirth_erebor_caps-2regular';
    src: url('../fonts/cirthereborcaps2-webfont.woff2') format('woff2'),
         url('../fonts/cirthereborcaps2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*end of font-face*/
/*header global*/
h3{
	font-size: 3rem;
}

/*end of hg*/

div#secret{	
  	height: 9rem;
  	font-family: 'cirth_ereborregular', Fallback, sans-serif;
	line-height: 9rem;	
}

div#secret span{
	font-family: 'cirth_ereborregular', Fallback, sans-serif;
	font-size: 5.8rem;
	text-align: center;
	margin: auto;
	display: block;
}

div#intercept table{
	border: 1px solid black;
	border-collapse: collapse;
}

/*syle intercept div and table */
div#intercept table tr td{
	font-size: 5rem;
	border: 1px solid black;
}

div#intercept table tr td{
	font-size: 5.8rem;
}
div#intercept table tr td.coded{
	font-family: 'cirth_ereborregular', Fallback, sans-serif;
}
/*end of syle intercept div and table */

.wrapper{
	width: 80%;
	margin: auto;
}

div#secret > div{
	display: inline-block;
	width: 9.33%;
	height: 100%;
	font-size: 9rem;
	
}
div .shadow{
	z-index: 1;
	position: relative;
}
div#shadow_div_container_1{
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
	height: 33%;	
}



div#shadow_div_container_2{
	z-index: 2;
	position: absolute;
	top: 33%;
	width: 100%;
	height: 33%;
	
}

div#shadow_div_container_3{
	z-index: 2;
	position: absolute;
	top: 66%;
	width: 100%;
	height: 33%;
}

/*Shadow cells */
.shadow_cell_11{
	display: inline-block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;

}

.shadow_cell_12{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 33.1%;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;

}

.shadow_cell_13{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 66%;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;
}

.shadow_cell_21{
	display: inline-block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;
}

.shadow_cell_22{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 33.1%;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;
}

.shadow_cell_23{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 66%;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;
}

.shadow_cell_31{
	display: inline-block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;
}

.shadow_cell_32{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 33%;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;

}

.shadow_cell_33{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 66%;
	height: 100%;
	width: 33%;
	background-color: black;
	opacity: 1;
}

/* end of shadow cells*/

/*animate cover of cells*/
/* set speed*/
.spin0{
  -webkit-animation: sk-rotateplane 1.4s infinite ease-in-out;
  animation: sk-rotateplane 1.4s infinite ease-in-out;
}

.spin1{
  -webkit-animation: sk-rotateplane 3s infinite ease-in-out;
  animation: sk-rotateplane 3s infinite ease-in-out;
}

.spin2{
  -webkit-animation: sk-rotateplane 2s infinite ease-in-out;
  animation: sk-rotateplane 2s infinite ease-in-out;
}
.spin3{
  -webkit-animation: sk-rotateplane 1s infinite ease-in-out;
  animation: sk-rotateplane 1s infinite ease-in-out;
}
.spin4{
  -webkit-animation: sk-rotateplane 0.75s infinite ease-in-out;
  animation: sk-rotateplane 0.75s infinite ease-in-out;
}

.spin5{
  -webkit-animation: sk-rotateplane 0.5s infinite ease-in-out;
  animation: sk-rotateplane 0.5s infinite ease-in-out;
}

/* webkit for cells cover*/
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/*end of animate cover of cells*/

/*answer form*/
div ul li label{
	height: 5rem;
  	font-family: 'cirth_ereborregular', Fallback, sans-serif;
  }

 fieldset{
	border: none;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
}
input {
    visibility:hidden;
    padding: 3rem;
    display: inline-block;
    border: 1px black solid;
}
label {
    cursor: pointer;
    
}
input:checked + label {
    background: red;
}
