/* Planet containers______START*/

/* planet outside shadows */
.planet_venus{
	position: relative;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	box-shadow: 0px 0px 55px 10px rgba(219,150,76,1);
	animation: rotatePlanet 150s infinite linear;
}
/* planet inside shadows */
.planet_venus:after{ 
	position: absolute;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	box-shadow: inset 0px 0px 37px 32px rgba(219,150,76,1);
}
/* Planet containers_____END*/
/* Planet inside - backround ( clouds, texture ) */

#venus_inside{
	position: relative;
	height: 300px;
	width: 300px;
	border-radius: 50%;
}
/* PLANET TEXTURE BACKROUND */
#venus_inside:before{
	content: '';
	position: absolute;
	background-image: url("venus.jpg");
	height: 300px;
	width: 300px;
	border-radius: 50%;
	animation: rotateBackround 40s linear infinite;
}
/* PLANET CLOUDS TEXTURE BACKROUND  */
#venus_inside:after{
	content: '';
	position: absolute;
	background-image: url("venus_clouds.jpg");
	height: 300px;
	width: 300px;
	border-radius: 50%;	
	animation: rotateBackround 30s linear infinite;
	opacity: 0.3;

}
/* ROTATING BACKROUND, EFECT 3D */
@keyframes rotateBackround{
	0%{
		background-position: 0px;
	}
	100%{
		background-position: -600px;
	}
}
/* ROTATING PLANET*/
@keyframes rotatePlanet{
  0%{
    transform:rotateZ(0);
    
  }
  100%{
    transform:rotateZ(180deg);
    
  }
}